body {
      font-family: Arial, sans-serif;
      margin: 40px;
      color: black;
    }

    #preguntas {
      margin-bottom: 30px;
    }

    label {
      display: block;
      font-weight: bold;
      margin-top: 10px;
      color: black; 
    }

    input {
      margin-top: 5px;
      padding: 5px;
      width: 250px;
      display: block;
    }

    button {
      margin-top: 20px;
      padding: 8px 14px;
      cursor: pointer;
      font-weight: bold;
    }

    h2 {
      margin-top: 40px;
      font-weight: bold;
    }

    #respuestas {
      margin-top: 20px;
    }

    #respuestas div {
      margin-bottom: 10px;

    .verde {
      color: green;
    }

    .azul {
      color: blue;
    }

    .negro {
      color: black;
    }}