body {
            margin: 0;
            height: 100vh;
            font-family: sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 50px;
        }